<%- include("partials/header.ejs") %>

<form id="create-form" action="/submit" method="POST">
  <div class="book-create">
    <!--isbn input disabled if editing mode-->
    <label for="isbn">ISBN</label>
    <input type="text" name="isbn" id="isbn" value="<%= locals.item ? item.isbn
    : '' %>" <%= locals.item ? "readonly" : '' %> class="<%= locals.item ?
    "not-editable" : '' %>" />

    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      maxlength="100"
      value="<%= locals.item ? item.title
    : '' %>"
    />

    <label for="author">Author</label>
    <input
      type="text"
      name="author"
      id="author"
      maxlength="100"
      value="<%= locals.item ? item.author
    : '' %>"
    />

    <label for="date_read">Date of Reading</label>
    <input type="date" name="date_read" id="date_read" value="<%= locals.item ?
    (item.date_read.toLocaleString("default", { year: "numeric" }) + "-" +
    item.date_read.toLocaleString("default", { month: "2-digit" }) + "-" +
    item.date_read.toLocaleString("default", { day: "2-digit" })) : '' %>" />

    <label for="rating">Rating</label>
    <input
      type="number"
      name="rating"
      id="rating"
      max="10"
      min="1"
      value="<%= locals.item ? item.rating
    : '' %>"
    />

    <label for="about">About</label>
    <textarea rows="5" name="about" id="about">
<%= locals.item ? item.about
    : '' %></textarea
    >

    <label for="notes">Notes</label>
    <textarea rows="10" type="text" name="notes" id="notes">
<%= locals.item ? item.notes
    : '' %></textarea
    >
  </div>
  <!--hidden input to differentiate between creating new record and editing record-->
  <input type="hidden" value="<%= locals.item %>" name="isEdit" />
  <button class="author-button" type="submit">
    <h2 class="btn">Submit</h2>
  </button>
</form>
<script src="create.js" charset="utf-8"></script>
<%- include("partials/footer.ejs") %>
