<%- include("partials/header.ejs") %>
<a href="/" id="logo">My books</a>
<div class="book">
  <img src="/book_images/<%= item.isbn.trim() %>.jpg" alt="Book cover" />
  <div>
    <h2 class="title-author"><%= item.title %></h2>
    <h2 class="title-author"><%= item.author %></h2>
    <div class="book-properties">
      <p><span class="descr">ISBN: </span><%= item.isbn.trim() %></p>
      <p>
        <span class="descr">Date read: </span><%=
        item.date_read.toLocaleString("default", { year: "numeric" }) %>-<%=
        item.date_read.toLocaleString("default", { month: "2-digit" })%>-<%=
        item.date_read.toLocaleString("default", { day: "2-digit" }) %>
      </p>
      <p><span class="descr">My rating: </span><%= item.rating %></p>
    </div>

    <form action="/edit" method="POST">
      <input type="hidden" name="isbnOfBook" value="<%= item.isbn %>" />
      <button class="author-button" type="submit">
        <a class="btn">Edit</a>
      </button>
      <button class="author-button" formaction="/delete">
        <a class="btn">Delete</a>
      </button>
    </form>
  </div>
</div>

<p><%= item.about %></p>

<hr />

<p><%= item.notes %></p>

<%- include("partials/footer.ejs") %>
