<%- include("partials/header.ejs") %>

<h1>My books</h1>
<p>
  Welcome to my website. Here you can find my books which I have read. Click on
  their title to see my few words about the book and other notes. You can sort
  here the list by <a class="btn" href="/by-title">title</a>,
  <a class="btn" href="/by-date">date of reading</a> and
  <a class="btn" href="/by-rating">rating</a>.
</p>
<a class="btn" href="/create">Create new record</a>
<% books.forEach(item => { %>
<div class="book">
  <img src="/book_images/<%= item.isbn.trim() %>.jpg" alt="Book cover" />
  <div>
    <form action="/detail" method="POST">
      <input type="hidden" name="isbnOfBook" value="<%= item.isbn %>" />
      <button class="author-button" type="submit">
        <h2 class="title-author"><%= item.title %></h2>
      </button>
    </form>
    <h2 class="title-author"><%= item.author %></h2>
    <div class="book-properties">
      <p><span class="descr">ISBN: </span><%= item.isbn.trim() %></p>
      <p>
        <span class="descr">Date read: </span><%=
        item.date_read.toLocaleString("default", { year: "numeric" }) %>-<%=
        item.date_read.toLocaleString("default", { month: "2-digit" })%>-<%=
        item.date_read.toLocaleString("default", { day: "2-digit" }) %>
      </p>
      <p><span class="descr">My rating: </span><%= item.rating %></p>
    </div>
  </div>
</div>

<% }); %> <%- include("partials/footer.ejs") %>
