<%- include("partials/header.ejs") %>

<h1>My books</h1>
<p>
  Welcome to my website. Here you can find my books which I have read. Click on
  their title to see my few words about the book and other notes. You can sort
  here the list by <a class="btn">title</a>,
  <a class="btn">date of reading</a> and <a class="btn">rating</a>.
</p>
<a class="btn" href="/new">Create new record</a>
<% books.forEach(item => { %>
<div class="book">
    <img src="/book_images/<%= item.isbn.trim() %>.jpg" alt="Book cover" />
    <div>
        <h2 class="title-author"><a><%= item.title %></h2>
        <h2 class="title-author"><%= item.author %></h2>
        <p><span class="descr">ISBN: </span><%= item.isbn.trim() %></p>
        <p><span class="descr">Date read: </span><%= item.date_read.getFullYear() %>-<%= item.date_read.getMonth() + 1%>-<%= item.date_read.getDate() %></p>
        <p><span class="descr">My rating: </span><%= item.rating %></p>
    </div>    
</div>


<% }); %> <%- include("partials/footer.ejs") %>
